{% extends "sentry/bases/modal.html" %}
{% load i18n %}

{% block title %}Connect Jaga | {{ block.super }}{% endblock %}

{% block main %}
  <h3>Connect Jaga</h3>
  <p>
    Enter the URL of your Jaga instance and the credentials of a service account.
    Sentry will create tasks and comments on its behalf.
  </p>
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Connect</button>
    </div>
  </form>
{% endblock %}
